/*Estilos gerais*/

.navegacao-superior-pagina .nav-home i {
    color: #8d9498;
}

.header-menu {
    font-size: 20px !important;
}

.header-user {
    font-size: 48px; 
    color:#dfdfdf;
}

.sair {
    color: #f25961 
}

.btn-form-inferior {
    padding: 30px 15px 30px 0 !important;
    text-align: right;
    border-top: none !important;
    border-top: 0 !important;
}

.btn-form-inferior input {
    margin-left: 10px;
}

.btn-form-inferior input:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.card-title {
    font-size: 16px;
}

.table.dataTable {
    border-collapse: collapse !important;
}

#basic-datatables thead, #DataTable1 thead, #DataTable2 thead{
    background: rgb(21,114,232);
    background: linear-gradient(260deg, rgba(21,114,232,1) 31%, rgba(21,114,232,0.7791491596638656) 100%);
    color: #fff !important;
}

#basic-datatables tbody tr:hover, #DataTable1 tbody tr:hover, #DataTable2 tbody tr:hover {
    border-left: 3px solid rgb(21,114,232);
}

.container-btn-superior-criar {
    padding: 0 1.25rem !important;
}

.container-btn-superior-criar .page-inner{
    padding: 20px 0 !important;
}

/* Botões */

.btn-verde-1 {
    background: #008573 !important;
    color: #fff;
}

.btn-verde-1:hover {
    color: #fff;
}

.container-btn-verde-1:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/*DataTable*/

.acoes-texto-linha {
    text-align: center;
}

.acoes-texto-linha-autor, .acoes-texto-linha-editora, .acoes-texto-linha-genero {
    text-align: right;
}

.container-btn-acoes-linha {
    text-align: right;
}

.ativo {
    color: #008573 !important;
}

.desativado {
    color: #8d9498 !important;
}

/* Barra de pesquisa */
.btn-pesquisa-movel .btn-round {
    border-radius: 0 100px 100px 0 !important;
}

.form-pesquisa {
    margin-right: 5px;
}

.input-pesquisa {
    min-width: 250px !important;
    max-height: 44px !important;
    padding: .5rem 1rem;
}

.input-pesquisa input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    display: inline;
    border-radius: 2px;
    border: 1px solid #ebedf2;
}

/* Font Awesome */
.faw-verde {
    color: #008573;
}

.faw-vermelho {
    color: #f25961;
}

/* Cores */
.tx-red{
    color: red;
}

.f-s-15{
    font-size: 15px;
}

.c-vermelho {
    color: red;
}

.c-verde {
    color: #008573;
}

.c-cinza {
    color:#8d9498;
}

.sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a {
    background: #1572e8 !important;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1),4px 4px 15px -5px rgba(21,114,232,.4) !important;
}