@{ ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="page-inner mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-top-personalizada">
                <div class="card-header d-flex justify-content-between">
                    <h4 class="card-title">Novo Cliente</h4>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("Novo","UnidadeConsumidora")" method="post">
                        <div class="">
                            <fieldset class="border p-4">
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Unidade Consumidora</legend>
                                <div class="row">
                                    <div class="col-12 col-md-1 px-0">
                                        <div class="form-group">
                                            <label for="ID">Código</label>
                                            <input type="text" name="ID" class="form-control form-control-sm" id="Codigo" maxlength="11" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Nome</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="CPF">CPF</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="">
                            <fieldset class="border p-4">
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Padrão de Entrada</legend>
                                <div class="row">
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Concessionaria/Contato</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Apresentou Fatura de Energia?</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="codigoUc">Código da UC</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="demandaContratada">Demanda Contratada (KW)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="categoriaFases">Categoria (fases)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="disjuntor">Disjuntor</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="bitolaEntrada">Bitola cabo entrada (mm²)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="tipoLigacao">Tipo de ligação</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="qdca">Há QDCA?</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 px-0">
                                        <div class="form-group">
                                            <label for="distanciaBitola">Distancia (m) e Bitola (mm²) Padrão até QDCA</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="padraoEntrada">Padrão de entrada</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="projetoMelhoria">Projeto de melhoria?</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="consumo">Consumo (kWh/mês)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="aumentoCarga">Aumento de carga?(S)%</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 px-0">
                                        <div class="form-group">
                                            <label for="obsPertinentes">Observações Pertinentes</label>
                                            <textarea type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="">
                            <fieldset class="border p-4">
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Sistema Fotovoltaico</legend>
                                <div class="row">
                                    <div class="col-12 col-md-6 px-0">
                                        <div class="form-group">
                                            <label for="ID">Média de geração atual ESTIMADA (kWh/mês)</label>
                                            <input type="text" name="ID" class="form-control form-control-sm" id="Codigo" maxlength="11" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Geração estimada em 25 anos (kWh/mês)</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Capacidade (kWp)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Capacidade Inversores (kW)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Quantiddade de Módulos</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Potência e Tecnologia (Wp)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Quantidade de Inversores</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Potencia (W)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Área de acomodação (m²)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Área telhado (m²)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Proteção C.C.</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Proteção C.A.</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Capacidade</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Valor final do Material + Frete</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Valor final da Prestação de Serviço + Seguro (MATERIAL)</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Valor final Total</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Pagamento</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="">
                            <fieldset class="border p-4">
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Unidades Consumidoras Beneficiarias (UC'S')</legend>
                                <h4>Aqui vai uma tabela de unidades beneficiarias</h4>
                                <div class="row">
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="ID">UC Beneficaria 1</label>
                                            <input type="text" name="ID" class="form-control form-control-sm" id="Codigo" maxlength="11" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Percentual do Exedente(%)</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="">
                            <fieldset class="border p-4">
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Acomodação dos Modulos</legend>
                                <div class="row">
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Orientação</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Inclinação</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Local de Instalação</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Idade do Telhado</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Tipo de telhado</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Peso do Sistema (Kg)</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Peso do Sistema (Kg)</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Qualidade do Telhado</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">&nbsp;</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Estrutura de Ajuste</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Serralheiro</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Obstáculos</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="CPF">Externos</label>
                                            <div class="mt--2">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Sim</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-md-12 px-0">
                            <div class="form-group d-flex flex-row-reverse">
                                <button type="submit" class="btn btn-success btn-sm d-flex align-items-center salvar-alert ml-1">Salvar</button>
                                <a href="@Url.Action("Index","Cliente")" class="btn btn-dark btn-sm d-flex align-items-center">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
