@{
    ViewBag.Title = "Home Page";
}

<!-- CSS -->
<link href="~/Content/css/home.css" rel="stylesheet" />
<link href="~/Content/css/home-responsivo.css" rel="stylesheet" />
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Francois+One|Lobster+Two" rel="stylesheet">
<section class="intro">

</section>
<!--CSS-->
<script>
    $(document).ready(function () {
        $(".intro .titulo").css("color", "#fff");
    });
</script>
<style>
    .content {
        background-size: cover;
        background: url('../Imagens/logo.png') bottom no-repeat;
    }
</style>