@using GHSContratoWeb.Models.Helper;
@using GHSContratoWeb.Models.Mapping;
@{
    ViewBag.Title = "Home";

    Usuario usuario = new Utils().Usuario;
}

<!-- CSS -->
<link href="~/Content/css/home.css" rel="stylesheet" />
<link href="~/Content/css/home-responsivo.css" rel="stylesheet" />
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Francois+One|Lobster+Two" rel="stylesheet">
<section class="intro">
    <div class="page-inner mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info card-annoucement card-round">
                        <div class="card-body text-center" style="background-image: url('../Content/Imagens/ghsimg.png') ">
                            <div class="card-opening">Bem Vindo @usuario.Nome</div>
                            <div class="card-desc">
                            </div>
                            <div class="card-detail">
                                <div class="btn btn-light btn-rounded">Ver Detalhes</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-post card-round">
                        <img class="card-img-top" src="~/Content/Imagens/ferramentas.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="info-post ml-2">
                                    <p class="username">Materiais</p>
                                </div>
                            </div>
                            <div class="separator-solid"></div>
                            <a href="@Url.Action("Index","Material")" class="btn btn-primary btn-rounded btn-sm">Consultar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-post card-round">
                        <img class="card-img-top" src="~/Content/Imagens/unidadegestora.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="info-post ml-2">
                                    <p class="username">Unidades Gestoras</p>
                                </div>
                            </div>
                            <div class="separator-solid"></div>
                            <a href="@Url.Action("Index","UnidadeConsumidora")" class="btn btn-primary btn-rounded btn-sm">Consultar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-post card-round">
                        <img class="card-img-top" src="~/Content/Imagens/pessoas.png" alt="Card image cap" style="height: 14vw !important">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="info-post ml-2">
                                    <p class="username">Clientes</p>
                                </div>
                            </div>
                            <div class="separator-solid"></div>
                            <a href="@Url.Action("Index","Cliente")" class="btn btn-primary btn-rounded btn-sm">Consultar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CSS-->
<script>
    $(document).ready(function () {
        $(".intro .titulo").css("color", "#fff");
    });
</script>
<style>
    .content {
        background-size: cover;
        background: url('../Imagens/logo.png') bottom no-repeat;
    }

    .card-post:hover {
        transform: scale(0.98);
        box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
        background-size: 130%;
    }

    .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35,79,109);
        background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%);
    }

</style>