@{ ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="page-inner mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-top-personalizada">
                <div class="card-header d-flex justify-content-between">
                    <h4 class="card-title">Novo Cliente</h4>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="dadosCliente-tab" data-toggle="tab" href="#dadosCliente" role="tab" aria-controls="dadosCliente" aria-selected="true">Dados Pessoais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <form action="@Url.Action("Novo","Cliente")" method="post">
                            <div class="tab-pane fade show active" id="dadosCliente" role="tabpanel" aria-labelledby="dadosCliente-tab">
                                <div class="row">
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <img src="~/Content/Imagens/procuraimagem.png" alt="Anexo Foto" class="img-thumbnail">
                                            <input type="file" name="Anexo" id="Anexo" accept="image/jpeg, image/png" onchange="validateFileType()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-1 px-0">
                                        <div class="form-group">
                                            <label for="ID">Código</label>
                                            <input type="text" name="ID" class="form-control form-control-sm" id="Codigo" maxlength="11" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Nome</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="CPF">CPF</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="CNPJ">CNPJ</label>
                                            <input type="text" name="CNPJ" class="form-control form-control-sm" id="CNPJ" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="RG">RG</label>
                                            <input type="text" class="form-control form-control-sm" name="RG" id="RG" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="InscricaoEstadual">Inscricao Estadual</label>
                                            <input type="text" name="InscricaoEstadual" class="form-control form-control-sm" id="InscricaoEstadual" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="DataExpedicao">Data Expedição</label>
                                            <input type="text" class="form-control form-control-sm" name="DataExpedicao" id="DataExpedicao" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="Cidadania">Cidadania</label>
                                            <input type="text" name="Cidadania" class="form-control form-control-sm" id="Cidadania" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="DataNascimento">Data Nascimento</label>
                                            <input type="text" name="DataNascimento" class="form-control form-control-sm" id="DataNascimento" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="EstadoCivil">Estado Civil</label>
                                            <input type="text" name="EstadoCivil" class="form-control form-control-sm" id="EstadoCivil" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="Profissao">Profissão</label>
                                            <input type="text" name="Profissao" class="form-control form-control-sm" id="Profissao" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="Telefone">Telefone</label>
                                            <input type="text" name="Telefone" class="form-control form-control-sm" id="Telefone" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="Email">E-mail</label>
                                            <input type="text" name="Email" class="form-control form-control-sm" id="Email" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="DataAbertura">Data Abertura</label>
                                            <input type="text" name="DataAbertura" class="form-control form-control-sm" id="DataAbertura" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-md-12 px-0">
                                        <div class="form-group">
                                            <label for="Observacao">Observações</label>
                                            <textarea type="text" name="Observacao" class="form-control form-control-sm" id="Observacao"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="Form-endereco">
                                </div>
                                <div class="row">
                                    <div class="form-group d-flex flex-row-reverse">
                                        <button href="#" id="adicionarcampo" class="btn btn-sm btn-secondary add_field_button">Adicionar Endereço</button>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                ...
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                ...
                            </div>
                            <div class="col-md-12 col-md-12 px-0">
                                <div class="form-group d-flex flex-row-reverse">
                                    <a href="@Url.Action("Index","Cliente")" class="btn btn-outline-dark btn-sm d-flex align-items-center ml-1"><span class="material-icons-outlined">clear</span><span class="ml-1">Cancelar</span></a>
                                    <button type="submit" class="btn btn-outline-success btn-sm d-flex align-items-center"><span class="material-icons-outlined">save</span><span class="ml-1">Salvar</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
<script>
    function selecionarTipoCliente() {
        if (document.getElementById('tipo_cpf').checked == true) {
            document.getElementById("mostar_cpf").style.visibility = "visible";
            document.getElementById("mostar_cnpj").style.visibility = "hidden";

        }
        if (document.getElementById('tipo_cpf').checked == false) {
            document.getElementById("mostar_cpf").style.visibility = "hidden";
            document.getElementById("mostar_cnpj").style.visibility = "visible";
        }
    }

    /*DEFINE TIPO DE IMAGENS ACEITAS*/
    function validateFileType() {
        var fileName = document.getElementById("PessoaFoto").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
            //TO DO
        } else {
            Notiflix.Notify.Warning('Apenas imagens em formato JPEG ou PNG');
        }
    }

    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".Form-endereco"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            var length = wrapper.find(".Total-endereco").length;

            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div><fieldset class="border p-2" style="border-color: black !important"><legend class="float-none w-auto p-2">Endereço<label class="Total-endereco">' + (length + 1) + '</label></legend><div class="row"><div class="col-12 col-md-7"><div class="form-group"><label for="Rua">Rua</label><input type="text" name="Rua' + (length + 1) + '" class="form-control form-control-sm" id="Rua' + (length + 1) + '"/></div></div><div class="col-12 col-md-1"><div class="form-group"><label for="Número">Número</label><input type="text" name="Numero' + (length + 1) + '" class="form-control form-control-sm" id="Número' + (length + 1) + '"/></div></div><div class="col-12 col-md-4"><div class="form-group"><label for="Bairro">Bairro</label><input type="text" name="Bairro' + (length + 1) + '" class="form-control form-control-sm" id="Bairro' + (length + 1) + '"/></div></div></div><div class="row mb-4"><div class="col-12 col-md-5"><div class="form-group"><label for="Cidade">Cidade</label><input type="text" name="Cidade' + (length + 1) + '" class="form-control form-control-sm" id="Cidade' + (length + 1) + '"/></div></div><div class="col-12 col-md-1"><div class="form-group"><label for="Estado">Estado</label><input type="text" name="Estado' + (length + 1) + '" class="form-control form-control-sm" id="Estado' + (length + 1) + '"/></div></div><div class="col-12 col-md-2"><div class="form-group"><label for="CEP">CEP</label><input type="text" name="CEP' + (length + 1) + '" class="form-control form-control-sm" id="CEP' + (length + 1) + '"/></div></div><div class="col-12 col-md-4"><div class="form-group"><label for="Concessionaria">Concessionária</label><input type="text" name="Concessionaria' + (length + 1) + '" class="form-control form-control-sm" id="Concessionaria' + (length + 1) + '"/></div></div></fieldset><a href="#" class="remove_field">Remove</a></div>');
            }
            //Fazendo com que cada uma escreva seu name
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
            //replaceName();
        })

        //function replaceName() {
        //    cont = 1;
        //    wrapper.find(".Total-endereco").each(function () {
        //        $(this).find('.Total-endereco').attr(cont);
        //        $(this).find('input').attr('name', 'Rua' + cont);
        //        $(this).find('input').attr('name', 'Numero' + cont);
        //        $(this).find('input').attr('name', 'Bairro' + cont);
        //        $(this).find('input').attr('name', 'Cidade' + cont);
        //        $(this).find('input').attr('name', 'Estado' + cont);
        //        $(this).find('input').attr('name', 'CEP' + cont);
        //        $(this).find('input').attr('name', 'Concessionaria' + cont);
        //        cont++;
        //    });
        //}
    });

</script>