@{ ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="page-inner">
    <div class="page-header card-round" style="background-color: #ffffff">
        <h4 class="page-title ml-3">Novo Cliente</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Home")" class="text-primary">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>Cadastros</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Cliente")" class="text-primary">Clientes</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>Novo Cliente</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-top-personalizada">
                @*<div class="card-header d-flex justify-content-between">
                    <h4 class="card-title">Novo Cliente</h4>
                </div>*@
                <div class="card-body">
                    <form action="@Url.Action("Novo","Cliente")" method="post">
                        <div class="">
                            <fieldset class="border p-4">
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Dados Pessoais</legend>
                                <div class="row">
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <img src="~/Content/Imagens/procuraimagem.png" alt="Anexo Foto" class="img-thumbnail">
                                            <input type="file" name="Anexo" id="Anexo" accept="image/jpeg, image/png" onchange="validateFileType()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-1 px-0">
                                        <div class="form-group">
                                            <label for="ID">Código</label>
                                            <input type="text" name="ID" class="form-control form-control-sm" id="Codigo" maxlength="11" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7 px-0">
                                        <div class="form-group">
                                            <label for="Nome">Nome</label>
                                            <input type="text" name="Nome" class="form-control form-control-sm " id="Nome" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="CPF">CPF</label>
                                            <input type="text" name="CPF" class="form-control form-control-sm" id="CPF" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="CNPJ">CNPJ</label>
                                            <input type="text" name="CNPJ" class="form-control form-control-sm" id="CNPJ" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="RG">RG</label>
                                            <input type="text" class="form-control form-control-sm" name="RG" id="RG" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="InscricaoEstadual">Inscricao Estadual</label>
                                            <input type="text" name="InscricaoEstadual" class="form-control form-control-sm" id="InscricaoEstadual" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="DataExpedicao">Data Expedição</label>
                                            <input type="text" class="form-control form-control-sm" name="DataExpedicao" id="DataExpedicao" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 px-0">
                                        <div class="form-group">
                                            <label for="Cidadania">Cidadania</label>
                                            <input type="text" name="Cidadania" class="form-control form-control-sm" id="Cidadania" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="DataNascimento">Data Nascimento</label>
                                            <input type="text" name="DataNascimento" class="form-control form-control-sm" id="DataNascimento" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="EstadoCivil">Estado Civil</label>
                                            <input type="text" name="EstadoCivil" class="form-control form-control-sm" id="EstadoCivil" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="Profissao">Profissão</label>
                                            <input type="text" name="Profissao" class="form-control form-control-sm" id="Profissao" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 px-0">
                                        <div class="form-group">
                                            <label for="faixaSalarial">Faixa Salárial</label>
                                            <input type="text" name="faixaSalarial" class="form-control form-control-sm" id="faixaSalarial" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="DataAbertura">Data Abertura</label>
                                            <input type="text" name="DataAbertura" class="form-control form-control-sm" id="DataAbertura" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 px-0">
                                        <div class="form-group">
                                            <label for="anexo">Anexos</label>
                                            <input type="text" name="anexos" class="form-control form-control-sm" id="anexos" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-md-12 px-0">
                                        <div class="form-group">
                                            <label for="Observacao">Observações</label>
                                            <textarea type="text" name="Observacao" class="form-control form-control-sm" id="Observacao"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="">
                            <fieldset class="border p-4">
                                <input type="hidden" name="contatoTotal" class="contato-total" value="0" />
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Contatos</legend>
                                <div class="Form-contatos">
                                </div>
                                <div class="row">
                                    <div class="form-group d-flex flex-row-reverse">
                                        <button href="#" id="adicionarcampoContatos" class="btn btn-sm btn-dark add_field_button_contatos">Adicionar Contato</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="">
                            <fieldset class="border p-4">
                                <input type="hidden" name="enderecoTotal" class="endereco-total" value="0" />
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Endereços</legend>
                                <div class="Form-endereco">
                                </div>
                                <div class="row">
                                    <div class="form-group d-flex flex-row-reverse">
                                        <button href="#" id="adicionarcampo" class="btn btn-sm btn-dark add_field_button">Adicionar Endereço</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="">
                            <fieldset class="border p-4">
                                <input type="hidden" name="acessoTotal" class="acesso-total" value="0" />
                                <legend class="float-none w-auto" style="font-size: 1.2em !important;">Informações de Acesso</legend>
                                <div class="Form-acesso">
                                </div>
                                <div class="row">
                                    <div class="form-group d-flex flex-row-reverse">
                                        <button href="#" id="adicionaracesso" class="btn btn-sm btn-dark add_field_acesso_button">Adicionar Acesso</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-md-12 px-0">
                            <div class="form-group d-flex flex-row-reverse">
                                <button type="submit" class="btn btn-success btn-sm d-flex align-items-center salvar-alert ml-1">Salvar</button>
                                <a href="@Url.Action("Index","Cliente")" class="btn btn-dark btn-sm d-flex align-items-center">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function selecionarTipoCliente() {
        if (document.getElementById('tipo_cpf').checked == true) {
            document.getElementById("mostar_cpf").style.visibility = "visible";
            document.getElementById("mostar_cnpj").style.visibility = "hidden";
        }
        if (document.getElementById('tipo_cpf').checked == false) {
            document.getElementById("mostar_cpf").style.visibility = "hidden";
            document.getElementById("mostar_cnpj").style.visibility = "visible";
        }
    }

    /*DEFINE TIPO DE IMAGENS ACEITAS*/
    function validateFileType() {
        var fileName = document.getElementById("PessoaFoto").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
            //TO DO
        } else {
            Notiflix.Notify.Warning('Apenas imagens em formato JPEG ou PNG');
        }
    }

    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".Form-endereco"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            var length = wrapper.find(".Total-endereco").length;

            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div><h4 class="float-none w-auto p-2">Endereço<label class="Total-endereco">' + (length + 1) + '</label></h4><div class="row"><div class="col-12 col-md-7 px-0"><div class="form-group"><label for="Rua">Rua</label><input type="text" name="Rua' + (length + 1) + '" class="form-control form-control-sm" id="Rua' + (length + 1) + '" /></div></div><div class="col-12 col-md-1 px-0"><div class="form-group"><label for="Número">Número</label><input type="text" name="Numero' + (length + 1) + '" class="form-control form-control-sm" id="Número' + (length + 1) + '" /></div></div><div class="col-12 col-md-4 px-0"><div class="form-group"><label for="Bairro">Bairro</label><input type="text" name="Bairro' + (length + 1) + '" class="form-control form-control-sm" id="Bairro' + (length + 1) + '" /></div></div></div><div class="row"><div class="col-12 col-md-5 px-0"><div class="form-group"><label for="Cidade">Cidade</label><input type="text" name="Cidade' + (length + 1) + '" class="form-control form-control-sm" id="Cidade' + (length + 1) + '" /></div></div><div class="col-12 col-md-1 px-0"><div class="form-group"><label for="Estado">Estado</label><input type="text" name="Estado' + (length + 1) + '" class="form-control form-control-sm" id="Estado' + (length + 1) + '" /></div></div><div class="col-12 col-md-2 px-0"><div class="form-group"><label for="CEP">CEP</label><input type="text" name="CEP' + (length + 1) + '" class="form-control form-control-sm" id="CEP' + (length + 1) + '" /></div></div><div class="col-12 col-md-4 px-0"><div class="form-group"><label for="Concessionaria">Concessionária</label><input type="text" name="Concessionaria' + (length + 1) + '" class="form-control form-control-sm" id="Concessionaria' + (length + 1) + '" /></div></div></div><div class="row"><div class="col-12 col-md-5 px-0"><div class="form-check"><input type="checkbox" class="form-check-input" id="enderecoPrincipal' + (length + 1) + '"><label class="form-check-label" for="exampleCheck1">Principal</label></div></div></div><a href="#" class="remove_field">Remover</a><hr /></div>');
                //Reconta as linhas 
                total = wrapper.find(".Total-endereco").length;
                $('.endereco-total').val(total);
            }
            //Fazendo com que cada uma escreva seu name
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
            //replaceName();
            //Reconta as linhas 
            total = wrapper.find(".Total-endereco").length;
            $('.endereco-total').val(total);
        })

        var wrappercontatos = $(".Form-contatos"); //Fields wrapper
        var add_button_contatos = $(".add_field_button_contatos"); //Add button ID

        var y = 1; //initlal text box count
        $(add_button_contatos).click(function (e) { //on add input button click
            e.preventDefault();
            var lengthcontatos = wrappercontatos.find(".Total-contatos").length;

            if (y < max_fields) { //max input box allowed
                y++; //text box increment
                $(wrappercontatos).append('<div><div class="row Total-contatos"><div class="col-12 col-md-2 px-0"><div class="form-group"><label for="Telefone">Telefone</label><input type="text" name="Telefone' + (lengthcontatos + 1) + '" class="form-control form-control-sm" id="Telefone' + (lengthcontatos + 1) + '" /></div></div><div class="col-12 col-md-5 px-0"><div class="form-group"><label for="Email">E-mail</label><input type="text" name="Email' + (lengthcontatos + 1) + '" class="form-control form-control-sm" id="Email' + (lengthcontatos + 1) + '" /></div></div><div class="col-12 col-md-5 px-0"><div class="form-group"><label for="Email">Proprietário</label><input type="text" name="proprietario' + (lengthcontatos + 1) + '" class="form-control form-control-sm" id="proprietario' + (lengthcontatos + 1) + '" /></div></div></div><a href="#" class="remove_field_contatos">Remover</a><hr /></div>');

                totalContatos = wrappercontatos.find(".Total-contatos").length;
                $('.contato-total').val(totalContatos);
            }
            //Fazendo com que cada uma escreva seu name
        });

        $(wrappercontatos).on("click", ".remove_field_contatos", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').remove();
            y--;
            //replaceName();
            totalContatos = wrappercontatos.find(".Total-contatos").length;
            $('.contato-total').val(totalContatos);
        })

        var wrapperacesso = $(".Form-acesso"); //Fields wrapper
        var add_button_acesso = $(".add_field_acesso_button"); //Add button ID

        var z = 1; //initlal text box count
        $(add_button_acesso).click(function (e) { //on add input button click
            e.preventDefault();
            var lengthacesso = wrapperacesso.find(".Total-acesso").length;

            if (z < max_fields) { //max input box allowed
                z++; //text box increment
                $(wrapperacesso).append('<div><div class="row Total-acesso"><div class="col-12 col-md-3 px-0"><div class="form-group"><label for="Setores">Setores</label><input type="text" name="Setores' + (lengthacesso + 1) + '" class="form-control form-control-sm" id="setores' + (lengthacesso + 1) + '" /></div></div><div class="col-12 col-md-3 px-0"><div class="form-group"><label for="Discriminacao">Discriminação</label><input type="text" name="Discriminacao' + (lengthacesso + 1) + '" class="form-control form-control-sm" id="discriminacao' + (lengthacesso + 1) + '" /></div></div><div class="col-12 col-md-3 px-0"><div class="form-group"><label for="Usuario">Usuário</label><input type="text" name="Usuario' + (lengthacesso + 1) + '" class="form-control form-control-sm" id="usuario' + (lengthacesso + 1) + '" /></div></div><div class="col-12 col-md-3 px-0"><div class="form-group"><label for="Senha">Senha</label><input type="text" name="Senha' + (lengthacesso + 1) + '" class="form-control form-control-sm" id="senha' + (lengthacesso + 1) + '" /></div></div></div><a href="#" class="remove_field_acesso">Remover</a><hr /></div>');

                totalAcesso = wrapperacesso.find(".Total-acesso").length;
                $('.acesso-total').val(totalAcesso);
            }
            //Fazendo com que cada uma escreva seu name
        });

        $(wrapperacesso).on("click", ".remove_field_acesso", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').remove();
            z--;
            //replaceName();
            totalAcesso = wrapperacesso.find(".Total-acesso").length;
                $('.acesso-total').val(totalAcesso);
        })

        //function replaceName() {
        //    cont = 1;
        //    wrapper.find(".Total-endereco").each(function () {
        //        $(this).find('.Total-endereco').attr(cont);
        //        $(this).find('input').attr('name', 'Rua' + cont);
        //        $(this).find('input').attr('name', 'Numero' + cont);
        //        $(this).find('input').attr('name', 'Bairro' + cont);
        //        $(this).find('input').attr('name', 'Cidade' + cont);
        //        $(this).find('input').attr('name', 'Estado' + cont);
        //        $(this).find('input').attr('name', 'CEP' + cont);
        //        $(this).find('input').attr('name', 'Concessionaria' + cont);
        //        cont++;
        //    });
        //}
    });
</script>